/* VARIABLES */
:root {
    --title-color: rgb(75, 224, 120);
    --default-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* GENERAL */
* {
    box-sizing: border-box;
}
body {
    margin: auto;
    padding-top: 10%;
    max-width: 65%;
    background-image: url("./images/cape-may-105590.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
p {
    font-family: var(--default-font-family);
    font-size: large;
    animation: fade-out-in 1s ease;
}
footer p {
    margin: 0;
}
h1, h2 {
    margin: 0;
    font-family: var(--default-font-family);
    text-transform: uppercase;
    text-shadow: 2px 1px rgb(39, 117, 62);
    color: var(--title-color);
    animation: fade-out-in 1s ease;
}
h3 {
    color: #1aafaa;
    font-size: 25px;
    text-shadow: 1px 1px rgb(75, 75, 75);
    font-weight: 600;
    text-align: center;
    animation: fade-out-in 1s ease;
}
a {
    font-weight: bold;
    color: chocolate;
}
li {
    font-size: 20px;
    width: 125px;
    text-transform: uppercase;
    font-weight: 450;
    text-align: left;
    animation: fade-out-in 1s ease;
}
li:hover{
    color:rgb(29, 227, 58);
    font-weight: 500;
    text-shadow: 1px 1px black;
}
form {
    animation: fade-out-in 1s ease;
}
/*CLASSES*/
.navigation {
    text-align: center;
    text-transform: uppercase;
    background-color: bisque;
}
.menu_option {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    color: black;
    transition: all 0.2s linear;
}
.menu_option:hover {
    font-size: 21px;
    text-decoration: underline;
    color:rgb(52, 126, 128); 
}
.menu_option.active {
    color:rgb(191, 145, 255);
}
.webpage_title {
    position: relative;
    text-align: center;
    padding: 60px;
    background: rgba(0, 0, 0, 40%);
}
.webpage_title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(./images/flowers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.njlogo {
    max-width: 5%;
    animation: fade-out-in 1s ease;
}
.main_content_container {
    display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite;
    text-align: center;
}
.left_content {
    flex: 75%;
    background-color: rgb(255, 229, 253);
    padding: 20px;
}
.right_content {
    flex: 5%;
    background-color: rgb(217, 255, 201);
    padding: 20px;
}
.footer_content {
    background-color: rgb(115, 191, 201);
    clear:both;
    font-family: var(--default-font-family);
    text-align: center;
    padding: 10px;
}
.form_design {
    border: 2px solid rgb(87, 118, 126);
    text-align: center;
    background-color: rgb(194, 250, 231);
}
/* IDs */
#submit_button {
    margin: 15px;
    padding: 5px;
    background-color:#1aafaa;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    border: 2px solid rgb(136, 237, 146);
}
#submit_button:hover {
    opacity: 0.8;
}

/* RESPONSIVE DESIGN PER SCREEN SIZE*/
@media (max-width: 1333px) {
    .main_content_container {
        flex-direction: column;
    }
    .njlogo {
        min-width: 50px;
    }
}
@media (max-width: 510px) {
    .menu_option {
        font-size: 17px;
    }
}

/* ANIMATIONS */
@keyframes shake {
    25% {transform: rotate(20deg);}
    50% {transform: rotate(-20deg);}
    100% {transform: rotate(0deg);}
}
@keyframes fade-out-in {
    from {opacity: 0;}
    to {opacity: 1;}
}