HTML REQUIREMENTS: ✅

On each webpage, include:
    - a <title> in the <head> ✅
    - relevant image ✅
    - consistent menu ✅

Include the following semantic elements on each webpage:
    - <header> with introductory content ✅
    - <nav> for navigation ✅
    - <section> to display main content on the page ✅
    - <Aside> to display info related to the content ✅

Include each element within website:
    - a <link> that opens an external website in a new window or tab using the <target> attribute ✅
    - Ordered list with at least 3 list items ✅
    - Unordered list with at least three list items ✅
    - A <table> consisting of 3-6 columns and 3-6 rows to organize content ✅

CSS REQUIREMENTS: ✅

On a external css, apply each of the following styles for text:
    - ONE font-family declaration ✅
    - a :hover pseudo-class to create a rollover effect for navigation buttons ✅

Create a "float" property to position at least ONE HTML element to the side of another (Use for <aside>) ✅
Add "absolute" and "relative" positioning in at least one area of the website ✅

Add the following selectors:
    - ONE element selector to style the HTML elements ✅
    - ONE class selector that is used at least TWO times ✅
    - ONE ID selector to format specific elements of a page ✅

JAVASCRIPT REQUIREMENTS: ❌

Create a webpage that contains a form by doing the following:
    - Include text fields for the user first/last name, email address, as well as 
    confirmation field for the email address and a text box that allows the user to ask a question ❌
    - Ensure ALL fields contain placeholders ❌
    - INCLUDE JAVASCRIPT CODE that verifies the email fields match when a user enters a second email address ❌


CONTENTS REQUIREMENT: ✅
The information for the capital and each city can vary but must include the following:
•   the city population ✅
•   the year the city was incorporated ✅
•   the region of the state in which the city is located✅
•   the classification of the city: urban, suburban, and/or rural ✅
•   the average income level of the city compared to the rest of the state ✅


✅ ❌